:root {
    --spacing-lr: 84px;
    --spacing-tb: 42px;
    --fs-big: 64px;
    --fs-h2: 32px;
    --fs-h3: 20px;
}

* {
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #599191;
    color: white;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 64px;

}

nav {
    max-width: 1440px;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 12px 0;
}

nav div {
    display: flex;
    align-items: center;
    margin: 0px var(--spacing-lr);

}

nav a {
    text-decoration: none;
    margin: 12px;
    color: white;
}

.menu-hamburger {
    display: none;
    background-color: #599191;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    min-height: 64px;
}

.menu-hamburger img {
    margin: 12px var(--spacing-lr);
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 24px;
    right: 24px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}

.menu-box {
    display: block;
    position: fixed;
    cursor: pointer;
    align-items: center;
    list-style: none;
    color: black;
    background-color: #599191;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    top: 0;
    width: 320px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    visibility: hidden;
    right: -100%;
    fill-opacity: 0.7;
    z-index: 2;
}

#menu__toggle:checked~.menu-box {
    visibility: visible;
    right: 0px;
}


li {
    padding: 12px 24px;
    text-decoration: none;
    display: block;
    transition-duration: .25s;
}



li:hover {
    background-color: #CFD8DC;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

main {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter';
}

h1 {
    color: #00ACC1;
    font-size: var(--fs-big);
    font-family: 'Caveat';
    font-weight: 200;
    line-height: 80%;
    display: inline;

}

h2 {
    font-size: var(--fs-h2);
    padding: var(--spacing-tb) var(--spacing-lr) 0 var(--spacing-lr);
}

main p {
    padding: var(--spacing-tb) var(--spacing-lr) 0 var(--spacing-lr);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

button {
    color: white;
    background-color: #00ACC1;
    border-radius: 30px;
    border: 0;
    height: 50px;
    width: 160px;
}

main button {
    margin: var(--spacing-tb) var(--spacing-lr) 0 var(--spacing-lr);
}

.banner {
    justify-content: center;
    text-align: center;
    max-width: 1440px;
    margin: var(--spacing-tb) auto;
}

.img-p-top,
.img-p-bottom {
    opacity: 20%;
    filter: blur(1px);
    display: inline-block;
    position: absolute;
    z-index: -1;
}

.img-p-top {
    left: -290px;
    bottom: -250px;
    transform: scaleX(-1);
}

.img-p-bottom {
    width: 300px;
    height: 300px;
    left: -200px;
    bottom: -50px;
    background-image: url("Media/Поштрихунчик2\ 1\ \(1\).png");
    transform: rotate(7deg);
}

section {
    text-align: center;
    margin: var(--spacing-tb) 0;

}

.section-yellow {
    background-color: #EAC185;
    /*opacity: 0.7;  */
}

.section-ad {
    margin-top: 96px;
    margin-bottom: 96px;
    text-align: left;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;

}

.section-ad h2 {
    font-size: var(--fs-big);
    font-family: 'Caveat';
    font-weight: 200;
    line-height: 80%;
}

.section-ad img {
    margin: -42px var(--spacing-lr) -42px 0px;
    max-width: 358px;
    box-shadow: 0px 0px 8px #EAC185;
}

.section-ad video {
    margin: -42px var(--spacing-lr) -42px 0px;
    max-width: 358px;
    box-shadow: 0px 0px 8px #EAC185;
}

.equipment-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: var(--spacing-tb);
}

.equipment-item {
    justify-content: center;
    text-align: center;
    margin: 0 24px;
    align-items: center;
}

.equipment-item img {
    height: 180px;

}

.equipment-item p {
    background-color: #00ACC1;
    color: white;
    height: 50px;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.prices {
    display: flex;
    justify-content: center;
    position: relative;
}

table {
    text-align: center;
    border: 1px solid #889595;
    margin: 24px;
    margin-top: var(--spacing-tb);
    background-color: #889595;
    width: 30%;
    max-width: 320px;

}

.table-price {
    background-color: #599191;
}

thead {
    color: white;
    font-size: 24px;
    border: 1px #889595 solid;
    padding: 8px 8px;
}

th {
    padding: 8px 8px;
}


td {
    height: 56px;
    padding: 8px 12px;
    border-bottom: 1px #889595 solid;
    background-color: white;
}

.td-price {
    font-size: var(--fs-h2);
    font-weight: 700;
    height: 100px;
}

.td-price p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

tr {
    height: 32px;
    padding: 8px 12px;
}

tfoot button {
    background-color: black;
    margin: 24px;
}

footer {
    background-color: #599191;
    color: white;
    align-items: center;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.footer-p {
    margin: 0px;
    padding: 12px 0;
    font-size: var(--fs-h3);
}


.footer-contacts {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    flex-wrap: wrap;
}


.footer-contacts div {
    margin: var(--spacing-tb) var(--spacing-lr) 0px var(--spacing-lr);
}

.sotial {
    margin: 12px;
    padding: 0 12px;
    flex-wrap: nowrap;
    justify-content: center;
    display: flex;
}

.footer-nav div {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    margin: 0px var(--spacing-lr);

}

form, fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 var(--spacing-lr);
    border: none;
}

form {
    margin-bottom: var(--spacing-tb);
}

.cont {
    display: flex;
    justify-content: space-between;
    margin: 6px var(--spacing-lr);
    width: 100%;
    max-width: 665px;

}

.cont input,
.cont textarea {  
    width: 70%;
}

.agreement {
    max-width: 665px;
}

.cont input {
    height: 32px;
}

#submit:hover {
    background-color: #599191;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media screen and (max-width: 960px) {

    :root {
        --spacing-lr: 12px;
        --spacing-tb: 24px;
        --fs-big: 36px;
        --fs-h2: 20px;
        --fs-h3: 16px;

    }

    .footer-contacts {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer-nav div {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    .menu-desktop {
        display: none;
    }


    header nav {
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .menu-hamburger {
        display: flex;
        flex-direction: row;
    }


    .prices {
        flex-direction: column;
    }

    .section-ad {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .section-ad img {
        margin: var(--spacing-tb) 0 -42px 0;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-ad video {
        margin: var(--spacing-tb) 0 -42px 0;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .cont {
        flex-direction: column;
    }
    
    .cont input,
    .cont textarea {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .menu-box {
        width: 100%;
        text-align: center;
    }


}